body {
  background: rgba(227, 223, 230, 0.459);
}
a {
  color: #342679;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  margin: 30px auto;
  padding: 10px 10px;
  display: flex;
  vertical-align: top;
  font-family: "Pacifico", cursive;
  font-size: 16px;
  background-color: rgba(227, 223, 230, 0.295);
}
.App-logo {
  max-width: 100px;
  margin: 0 auto;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}
